/configure
/Makefile
/Makefile.in
/.clang_complete
/.deps/
/README.*
/aclocal.m4
/autom4te.cache/
/config.*
/compile
/depcomp
/install-sh
/missing
/stamp-h1
*.o
/hello_metal
/grub/hello_metal
/grub.img
/hello-metal-*.tar.gz
